/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/********
 * XFCE *
 *******/

XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: @base;
    background-image: none;
    color: @text;
}

.xfce4-panel {
    background-color: @panel;
    color: @panel_text;
    font: normal;
    text-shadow: 0 1px @panel_text_shadow;
    icon-shadow: 0 1px @panel_text_shadow;
}

.xfce4-panel .button {
    padding: 0 2px;
    border-radius: 0;
    border-style: none;
    color: @panel_text;
}

.xfce4-panel .button:active {
    background-color: shade(@panel, 0.8);
    background-image: none;
    color: @panel_text;
    text-shadow: 0 1px @panel_text_shadow;
    icon-shadow: 0 1px @panel_text_shadow;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-color: mix(@panel, @panel_text, 0.21);
    background-image: none;
    color: shade(@panel_text, 1.08);
    text-shadow: 0 1px @panel_text_shadow;
    icon-shadow: 0 1px @panel_text_shadow;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
    text-shadow: 0 1px @panel_text_shadow;
    icon-shadow: 0 1px @panel_text_shadow;
}
