XfceHeading,
.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

.xfce4-panel {
    background-color: @panel_bg_color;
    color: @panel_fg_color;
    font: normal;
    text-shadow: none;
    icon-shadow: none;
    -gtk-image-effect: none;
}

.xfce4-panel .button {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0;
    border: none;
    color: @panel_fg_color;
    text-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .button:active {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px 2px 0px 0px;
    border: none;
    color: white;
    text-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px 2px 0px 0px;
    color: white;
    text-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}
